[submodule "libparanumal"]
	path = contrib/libparanumal
	url = git@github.com:thilinarmtb/libparanumal.git
[submodule "NekGPU"]
	path = contrib/NekGPU
	url = git@github.com:thilinarmtb/NekGPU.git
	branch = nek-paranumal
[submodule "occa"]
	path = contrib/occa
	url = git@github.com:thilinarmtb/occa.git
	branch = nek-paranumal
[submodule "moose"]
	path = contrib/moose
	url = git@github.com:idaholab/moose.git
	branch = master
[submodule "contrib/Nek5000"]
	path = contrib/Nek5000
	url = git@github.com:Nek5000/Nek5000.git
