[submodule "libparanumal"]
	path = libparanumal
	url = git@github.com:thilinarmtb/libparanumal.git
[submodule "NekGPU"]
	path = NekGPU
	url = git@github.com:thilinarmtb/NekGPU.git
	branch = nek-paranumal
[submodule "occa"]
	path = occa
	url = git@github.com:thilinarmtb/occa.git
	branch = nek-paranumal
[submodule "moose"]
	path = moose
	url = git@github.com:idaholab/moose.git
	branch = master
