[submodule "moose"]
	path = contrib/moose
	url = https://github.com/idaholab/moose.git
	branch = master
[submodule "contrib/Nek5000"]
	path = contrib/Nek5000
	url = https://github.com/RonRahaman/Nek5000.git
  branch = cardinal
[submodule "contrib/openmc"]
	path = contrib/openmc
	url = https://github.com/openmc-dev/openmc.git
  branch = develop
[submodule "contrib/gslib"]
	path = contrib/gslib
	url = https://github.com/gslib/gslib.git
  branch = v1.0.3
[submodule "problems/large-problems"]
	path = problems/large-problems
	url = https://xgitlab.cels.anl.gov/neams-th-coe/large-problems.git
  branch = master
[submodule "contrib/nekrs"]
	path = contrib/nekrs
	url = https://xgitlab.cels.anl.gov/neams-th-coe/nekrs.git
  branch = fix
