<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>150000</particles>
  <batches>65</batches>
  <inactive>20</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-1.8800000000000001 -1.6281277591147447 0.0 1.8800000000000001 1.6281277591147447 160.0</parameters>
    </space>
  </source>
  <temperature_method>nearest</temperature_method>
  <temperature_range>294.0 1500.0</temperature_range>
  <temperature_tolerance>200.0</temperature_tolerance>
</settings>
