<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>100</particles>
  <batches>10</batches>
  <inactive>5</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-16.396747644985375 -16.396747644985375 0.0 16.396747644985375 16.396747644985375 634.3</parameters>
    </space>
  </source>
  <temperature_method>interpolation</temperature_method>
  <temperature_range>294.0 1500.0</temperature_range>
  <volume_calc>
    <domain_type>cell</domain_type>
    <domain_ids>8</domain_ids>
    <samples>100000000</samples>
    <lower_left>-16.396747644985375 -16.396747644985375 0.0</lower_left>
    <upper_right>16.396747644985375 16.396747644985375 634.3</upper_right>
  </volume_calc>
</settings>
