<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>50</batches>
  <inactive>10</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="box">
      <parameters>-1.28 -1.28 0.0 1.28 1.28 50.0</parameters>
    </space>
  </source>
  <temperature_default>573.0</temperature_default>
  <temperature_method>interpolation</temperature_method>
  <temperature_multipole>true</temperature_multipole>
  <temperature_range>294.0 3000.0</temperature_range>
</settings>
