<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>50</batches>
  <inactive>10</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>0 0 0 10 10 10</parameters>
    </space>
  </source>
  <temperature_method>interpolation</temperature_method>
  <temperature_range>294.0 3000.0</temperature_range>
</settings>
