Content:
    cardinal:
        root_dir: doc/content
    moose:
        root_dir: ${MOOSE_DIR}/framework/doc/content
    fluid_properties:
        root_dir: ${MOOSE_DIR}/modules/fluid_properties/doc/content
    heat_transfer:
        root_dir: ${MOOSE_DIR}/modules/heat_transfer/doc/content
    navier_stokes:
        root_dir: ${MOOSE_DIR}/modules/navier_stokes/doc/content
    ray_tracing:
        root_dir: ${MOOSE_DIR}/modules/ray_tracing/doc/content
    reactor:
        root_dir: ${MOOSE_DIR}/modules/reactor/doc/content
    solid_mechanics:
        root_dir: ${MOOSE_DIR}/modules/solid_mechanics/doc/content
    solid_properties:
        root_dir: ${MOOSE_DIR}/modules/solid_properties/doc/content
    stochastic_tools:
        root_dir: ${MOOSE_DIR}/modules/stochastic_tools/doc/content
    subchannel:
        root_dir: ${MOOSE_DIR}/modules/subchannel/doc/content
    thermal_hydraulics:
        root_dir: ${MOOSE_DIR}/modules/thermal_hydraulics/doc/content
    modules:
        root_dir: ${MOOSE_DIR}/modules/doc/content
        content:
            - help/development/VSCode.md
            - help/development/analyze_jacobian.md
            - help/finite_element_concepts/nodal_patch_recovery.md
            - application_development/performance_benchmarking.md
            - application_usage/restart_recover.md
            - application_usage/command_line_usage.md
    python:
        root_dir: ${MOOSE_DIR}/python/doc/content
        content:
            - python/mms.md
            - python/MooseDocs/**
            - python/moosesqa/index.md
            - python/source/moosetree/Node.md
            - python/testers/**
            - python/CSVDiff.md
            - python/TestHarness.md

Renderer:
    type: MooseDocs.base.MaterializeRenderer

Extensions:
    MooseDocs.extensions.navigation:
        name: Cardinal
        repo: https://github.com/neams-th-coe/cardinal
        menu:
            Getting Started:
                Installation: start.md
                Running on HPC: hpc.md
                How to Contribute: contributing_cardinal.md
            Documentation:
                Tutorials: /tutorials/index.md
                Input Syntax: /source/index.md
                CFD Meshing: tutorials/meshing.md
                Code Theory: theory/index.md
                Doxygen: doxygen.md
            Software Quality:
                Software Quality Assurance (SQA) Information: /sqa/index.md
                Code Standards: sqa/cardinal_scs.md
                Code Coverage: https://mooseframework.inl.gov/cardinal/docs/coverage
            V&V: vv.md
            Publications: publications.md
            Contact: contact.md
            Help: faq.md
            News: news.md

    MooseDocs.extensions.appsyntax:
        executable: ${ROOT_DIR}
        remove:
            framework: !include ${MOOSE_DIR}/framework/doc/remove.yml
            cardinal:
                - /ICs/BulkEnergyConservationIC
                - /Cardinal/ICs/BulkEnergyConservation/BulkEnergyConservationICAction
                - /Cardinal/ICs/VolumetricHeatSource/VolumetricHeatSourceICAction
        unregister:
            framework: !include ${MOOSE_DIR}/framework/doc/unregister.yml

    MooseDocs.extensions.acronym:
        acronyms:
            moose: !include ${MOOSE_DIR}/framework/doc/acronyms.yml
            cardinal: !include ${ROOT_DIR}/doc/acronyms.yml

    MooseDocs.extensions.analytics:
        active: True
        google_measurement_id: G-FDCX1GZ9HF

    MooseDocs.extensions.common:
        shortcuts: !include ${MOOSE_DIR}/framework/doc/globals.yml

    MooseDocs.extensions.template:
        active: true

    MooseDocs.extensions.bibtex:
        duplicates:
            - hales15homogenization
            - petersen

    MooseDocs.extensions.sqa:
        active: true
        categories: # commented-out categories are not available
            cardinal: !include ${ROOT_DIR}/doc/sqa_cardinal.yml
            framework: !include ${MOOSE_DIR}/framework/doc/sqa_framework.yml
            fluid_properties: !include ${MOOSE_DIR}/modules/fluid_properties/doc/sqa_fluid_properties.yml
            heat_transfer: !include ${MOOSE_DIR}/modules/heat_transfer/doc/sqa_heat_transfer.yml
            navier_stokes: !include ${MOOSE_DIR}/modules/navier_stokes/doc/sqa_navier_stokes.yml
            ray_tracing: !include ${MOOSE_DIR}/modules/ray_tracing/doc/sqa_ray_tracing.yml
            reactor: !include ${MOOSE_DIR}/modules/reactor/doc/sqa_reactor.yml
            solid_mechanics: !include ${MOOSE_DIR}/modules/solid_mechanics/doc/sqa_solid_mechanics.yml
            solid_properties: !include ${MOOSE_DIR}/modules/solid_properties/doc/sqa_solid_properties.yml
            stochastic_tools: !include ${MOOSE_DIR}/modules/stochastic_tools/doc/sqa_stochastic_tools.yml
            subchannel: !include ${MOOSE_DIR}/modules/subchannel/doc/sqa_subchannel.yml
            thermal_hydraulics: !include ${MOOSE_DIR}/modules/thermal_hydraulics/doc/sqa_thermal_hydraulics.yml
        reports: !include ${ROOT_DIR}/doc/sqa_reports.yml
        repos:
            default: https://github.com/neams-th-coe/cardinal
