<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>5</batches>
  <inactive>2</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-1.28 -1.28 0.0 1.28 1.28 10.0</parameters>
    </space>
  </source>
  <temperature_default>573.0</temperature_default>
  <temperature_method>nearest</temperature_method>
  <temperature_range>294.0 3000.0</temperature_range>
  <temperature_tolerance>1000.0</temperature_tolerance>
</settings>
